I N0 "e:\coding\fdcrus\darksoftware.url"
I N1 "e:\coding\fdcrus\fdc_search.fds"
I N2 "e:\coding\fdcrus\fdkcp.cpl"
I N3 "e:\coding\fdcrus\flist.txt"
I N4 "e:\coding\fdcrus\hotcd.url"
I N5 "e:\coding\fdcrus\news.txt"
I N6 "e:\coding\fdcrus\plugins\9x_boot_dblspace.tweak"
I N7 "e:\coding\fdcrus\plugins\9x_boot_drvspace.tweak"
I N8 "e:\coding\fdcrus\plugins\9x_boot_gui.tweak"
I N9 "e:\coding\fdcrus\plugins\9x_boot_log.tweak"
I N10 "e:\coding\fdcrus\plugins\9x_boot_menu.tweak"
I N11 "e:\coding\fdcrus\plugins\9x_boot_multi.tweak"
I N12 "e:\coding\fdcrus\plugins\9x_boot_registry.tweak"
I N13 "e:\coding\fdcrus\plugins\9x_boot_top.tweak"
I N14 "e:\coding\fdcrus\plugins\9x_boot_warn.tweak"
I N15 "e:\coding\fdcrus\plugins\9x_file_sharing.tweak"
I N16 "e:\coding\fdcrus\plugins\9x_local_os_reboot.tweak"
I N17 "e:\coding\fdcrus\plugins\9x_logo.tweak"
I N18 "e:\coding\fdcrus\plugins\9x_max_registry_backups.tweak"
I N19 "e:\coding\fdcrus\plugins\9x_printer_sharing.tweak"
I N20 "e:\coding\fdcrus\plugins\always_unload_dlls.tweak"
I N21 "e:\coding\fdcrus\plugins\autoscan.tweak"
I N22 "e:\coding\fdcrus\plugins\auto_end_tasks.tweak"
I N23 "e:\coding\fdcrus\plugins\beep_on_error.tweak"
I N24 "e:\coding\fdcrus\plugins\bootmenu.tweak"
I N25 "e:\coding\fdcrus\plugins\bootmenu_def.tweak"
I N26 "e:\coding\fdcrus\plugins\bootmenu_delay.tweak"
I N27 "e:\coding\fdcrus\plugins\boot_keys.tweak"
I N28 "e:\coding\fdcrus\plugins\boot_win.tweak"
I N29 "e:\coding\fdcrus\plugins\cd_autorun.tweak"
I N30 "e:\coding\fdcrus\plugins\chunk_size.tweak"
I N31 "e:\coding\fdcrus\plugins\classic_desktop.tweak"
I N32 "e:\coding\fdcrus\plugins\clear_page_file.tweak"
I N33 "e:\coding\fdcrus\plugins\clear_recents_on_exit.tweak"
I N34 "e:\coding\fdcrus\plugins\clear_recents_on_exit_nt.tweak"
I N35 "e:\coding\fdcrus\plugins\computername.tweak"
I N36 "e:\coding\fdcrus\plugins\delete_net_connect.tweak"
I N37 "e:\coding\fdcrus\plugins\delete_run_menu.tweak"
I N38 "e:\coding\fdcrus\plugins\delete_run_menu_nt (alt).tweak"
I N39 "e:\coding\fdcrus\plugins\delete_run_menu_nt.tweak"
I N40 "e:\coding\fdcrus\plugins\delete_search_menu.tweak"
I N41 "e:\coding\fdcrus\plugins\delete_search_menu_nt.tweak"
I N42 "e:\coding\fdcrus\plugins\disable_ballon_tips.tweak"
I N43 "e:\coding\fdcrus\plugins\disable_ss_while_defrag.tweak"
I N44 "e:\coding\fdcrus\plugins\double_buffer.tweak"
I N45 "e:\coding\fdcrus\plugins\drwebupdate_password.tweak"
I N46 "e:\coding\fdcrus\plugins\drwebupdate_proxy.tweak"
I N47 "e:\coding\fdcrus\plugins\drwebupdate_proxypassword.tweak"
I N48 "e:\coding\fdcrus\plugins\drwebupdate_proxyuser.tweak"
I N49 "e:\coding\fdcrus\plugins\drwebupdate_url.tweak"
I N50 "e:\coding\fdcrus\plugins\drwebupdate_user.tweak"
I N51 "e:\coding\fdcrus\plugins\file_alloc_9x.tweak"
I N52 "e:\coding\fdcrus\plugins\file_handles_me.tweak"
I N53 "e:\coding\fdcrus\plugins\file_locking_9x.tweak"
I N54 "e:\coding\fdcrus\plugins\group_in_taskbar.tweak"
I N55 "e:\coding\fdcrus\plugins\hidden_devices.tweak"
I N56 "e:\coding\fdcrus\plugins\hide_unused_icons.tweak"
I N57 "e:\coding\fdcrus\plugins\hung_app.tweak"
I N58 "e:\coding\fdcrus\plugins\intelli_menus.tweak"
I N59 "e:\coding\fdcrus\plugins\kill_app.tweak"
I N60 "e:\coding\fdcrus\plugins\lan_error_statistic.tweak"
I N61 "e:\coding\fdcrus\plugins\large_cache_nt.tweak"
I N62 "e:\coding\fdcrus\plugins\local_load_high.tweak"
I N63 "e:\coding\fdcrus\plugins\max_file_cache.tweak"
I N64 "e:\coding\fdcrus\plugins\mice_for_southpaw.tweak"
I N65 "e:\coding\fdcrus\plugins\min_file_cache.tweak"
I N66 "e:\coding\fdcrus\plugins\nethood.tweak"
I N67 "e:\coding\fdcrus\plugins\no_add_printer.tweak"
I N68 "e:\coding\fdcrus\plugins\no_cd_burning.tweak"
I N69 "e:\coding\fdcrus\plugins\no_close.tweak"
I N70 "e:\coding\fdcrus\plugins\no_cp_in_sm.tweak"
I N71 "e:\coding\fdcrus\plugins\no_desktop.tweak"
I N72 "e:\coding\fdcrus\plugins\no_low_disk_message_xp.tweak"
I N73 "e:\coding\fdcrus\plugins\no_mmc.tweak"
I N74 "e:\coding\fdcrus\plugins\no_ms_dos.tweak"
I N75 "e:\coding\fdcrus\plugins\no_settings.tweak"
I N76 "e:\coding\fdcrus\plugins\no_settings_nt.tweak"
I N77 "e:\coding\fdcrus\plugins\no_set_active_desktop.tweak"
I N78 "e:\coding\fdcrus\plugins\no_set_folders.tweak"
I N79 "e:\coding\fdcrus\plugins\no_set_taskbar.tweak"
I N80 "e:\coding\fdcrus\plugins\no_sm_change.tweak"
I N81 "e:\coding\fdcrus\plugins\no_sm_change_nt.tweak"
I N82 "e:\coding\fdcrus\plugins\no_tray_context.tweak"
I N83 "e:\coding\fdcrus\plugins\no_welcome_screen.tweak"
I N84 "e:\coding\fdcrus\plugins\no_winupdate.tweak"
I N85 "e:\coding\fdcrus\plugins\no_win_keys.tweak"
I N86 "e:\coding\fdcrus\plugins\nt_details.tweak"
I N87 "e:\coding\fdcrus\plugins\nt_web_printing.tweak"
I N88 "e:\coding\fdcrus\plugins\of_update.tweak"
I N89 "e:\coding\fdcrus\plugins\poweroff_after_shutdown.tweak"
I N90 "e:\coding\fdcrus\plugins\quick_reboot_9x.tweak"
I N91 "e:\coding\fdcrus\plugins\registry_tools.tweak"
I N92 "e:\coding\fdcrus\plugins\security_hidden.tweak"
I N93 "e:\coding\fdcrus\plugins\security_no_anonymous_nt.tweak"
I N94 "e:\coding\fdcrus\plugins\security_no_autoshare_nt.tweak"
I N95 "e:\coding\fdcrus\plugins\security_no_autoshare_server.tweak"
I N96 "e:\coding\fdcrus\plugins\set_active_desktop.tweak"
I N97 "e:\coding\fdcrus\plugins\set_active_desktop_nt.tweak"
I N98 "e:\coding\fdcrus\plugins\set_assist_xp.tweak"
I N99 "e:\coding\fdcrus\plugins\set_autorun.tweak"
I N100 "e:\coding\fdcrus\plugins\set_autorun_nt.tweak"
I N101 "e:\coding\fdcrus\plugins\set_auto_logon_2000.tweak"
I N102 "e:\coding\fdcrus\plugins\set_auto_logon_nt.tweak"
I N103 "e:\coding\fdcrus\plugins\set_certain_modules.tweak"
I N104 "e:\coding\fdcrus\plugins\set_classic_logon_xp.tweak"
I N105 "e:\coding\fdcrus\plugins\set_favorites_menu.tweak"
I N106 "e:\coding\fdcrus\plugins\set_favorites_menu_alt_nt.tweak"
I N107 "e:\coding\fdcrus\plugins\set_favorites_menu_nt.tweak"
I N108 "e:\coding\fdcrus\plugins\set_firm_name_acme.tweak"
I N109 "e:\coding\fdcrus\plugins\set_help_me_nt.tweak"
I N110 "e:\coding\fdcrus\plugins\set_icon_depth.tweak"
I N111 "e:\coding\fdcrus\plugins\set_lnk_overlay.tweak"
I N112 "e:\coding\fdcrus\plugins\set_logoff_menu.tweak"
I N113 "e:\coding\fdcrus\plugins\set_logoff_menu_nt.tweak"
I N114 "e:\coding\fdcrus\plugins\set_logoff_menu_nt_alt.tweak"
I N115 "e:\coding\fdcrus\plugins\set_logon_default_domain.tweak"
I N116 "e:\coding\fdcrus\plugins\set_logon_default_password.tweak"
I N117 "e:\coding\fdcrus\plugins\set_logon_default_user.tweak"
I N118 "e:\coding\fdcrus\plugins\set_logon_text.tweak"
I N119 "e:\coding\fdcrus\plugins\set_logon_text_nt.tweak"
I N120 "e:\coding\fdcrus\plugins\set_logon_title.tweak"
I N121 "e:\coding\fdcrus\plugins\set_logon_title_nt.tweak"
I N122 "e:\coding\fdcrus\plugins\set_max_cached_icons.tweak"
I N123 "e:\coding\fdcrus\plugins\set_pif_overlay.tweak"
I N124 "e:\coding\fdcrus\plugins\set_rb_title.tweak"
I N125 "e:\coding\fdcrus\plugins\set_recent_history.tweak"
I N126 "e:\coding\fdcrus\plugins\set_recent_history_nt.tweak"
I N127 "e:\coding\fdcrus\plugins\set_recent_menu.tweak"
I N128 "e:\coding\fdcrus\plugins\set_recent_menu_nt.tweak"
I N129 "e:\coding\fdcrus\plugins\set_recycle.tweak"
I N130 "e:\coding\fdcrus\plugins\set_smoothing.tweak"
I N131 "e:\coding\fdcrus\plugins\set_sys_restore_nt.tweak"
I N132 "e:\coding\fdcrus\plugins\set_taskman_nt.tweak"
I N133 "e:\coding\fdcrus\plugins\set_user_name_acme.tweak"
I N134 "e:\coding\fdcrus\plugins\set_winupdate_driver.tweak"
I N135 "e:\coding\fdcrus\plugins\set_win_user.tweak"
I N136 "e:\coding\fdcrus\plugins\set_win_user_firm.tweak"
I N137 "e:\coding\fdcrus\plugins\set_win_user_firm_nt.tweak"
I N138 "e:\coding\fdcrus\plugins\set_win_user_nt.tweak"
I N139 "e:\coding\fdcrus\plugins\set_xp_timesyncserver.tweak"
I N140 "e:\coding\fdcrus\plugins\sm_click.tweak"
I N141 "e:\coding\fdcrus\plugins\sort_start.tweak"
I N142 "e:\coding\fdcrus\plugins\stacks.tweak"
I N143 "e:\coding\fdcrus\plugins\sys_perf.tweak"
I N144 "e:\coding\fdcrus\plugins\sys_prefetch.tweak"
I N145 "e:\coding\fdcrus\plugins\totalcmd_access_time.tweak"
I N146 "e:\coding\fdcrus\plugins\totalcmd_active_right.tweak"
I N147 "e:\coding\fdcrus\plugins\totalcmd_amppm.tweak"
I N148 "e:\coding\fdcrus\plugins\totalcmd_arj_long.tweak"
I N149 "e:\coding\fdcrus\plugins\totalcmd_as_explorer.tweak"
I N150 "e:\coding\fdcrus\plugins\totalcmd_bg_copy.tweak"
I N151 "e:\coding\fdcrus\plugins\totalcmd_bg_pack.tweak"
I N152 "e:\coding\fdcrus\plugins\totalcmd_bg_unpack.tweak"
I N153 "e:\coding\fdcrus\plugins\totalcmd_century.tweak"
I N154 "e:\coding\fdcrus\plugins\totalcmd_close_cd.tweak"
I N155 "e:\coding\fdcrus\plugins\totalcmd_color_filters.tweak"
I N156 "e:\coding\fdcrus\plugins\totalcmd_commands.tweak"
I N157 "e:\coding\fdcrus\plugins\totalcmd_copy.tweak"
I N158 "e:\coding\fdcrus\plugins\totalcmd_copy_block_size.tweak"
I N159 "e:\coding\fdcrus\plugins\totalcmd_copy_other_block_size.tweak"
I N160 "e:\coding\fdcrus\plugins\totalcmd_copy_other_huge_block_size.tweak"
I N161 "e:\coding\fdcrus\plugins\totalcmd_copy__huge_block_size.tweak"
I N162 "e:\coding\fdcrus\plugins\totalcmd_delete.tweak"
I N163 "e:\coding\fdcrus\plugins\totalcmd_dirs.tweak"
I N164 "e:\coding\fdcrus\plugins\totalcmd_dirs_by_name.tweak"
I N165 "e:\coding\fdcrus\plugins\totalcmd_dir_as_files.tweak"
I N166 "e:\coding\fdcrus\plugins\totalcmd_dir_footer.tweak"
I N167 "e:\coding\fdcrus\plugins\totalcmd_dir_time.tweak"
I N168 "e:\coding\fdcrus\plugins\totalcmd_explorer_style.tweak"
I N169 "e:\coding\fdcrus\plugins\totalcmd_ext.tweak"
I N170 "e:\coding\fdcrus\plugins\totalcmd_faster_copy.tweak"
I N171 "e:\coding\fdcrus\plugins\totalcmd_file_tip.tweak"
I N172 "e:\coding\fdcrus\plugins\totalcmd_find_for_time.tweak"
I N173 "e:\coding\fdcrus\plugins\totalcmd_floppy_icons.tweak"
I N174 "e:\coding\fdcrus\plugins\totalcmd_free_space.tweak"
I N175 "e:\coding\fdcrus\plugins\totalcmd_graphic_bugfix.tweak"
I N176 "e:\coding\fdcrus\plugins\totalcmd_hidden.tweak"
I N177 "e:\coding\fdcrus\plugins\totalcmd_icon_thread.tweak"
I N178 "e:\coding\fdcrus\plugins\totalcmd_ignore_intellimouse.tweak"
I N179 "e:\coding\fdcrus\plugins\totalcmd_long_names.tweak"
I N180 "e:\coding\fdcrus\plugins\totalcmd_long_names_dos.tweak"
I N181 "e:\coding\fdcrus\plugins\totalcmd_long_name_sb.tweak"
I N182 "e:\coding\fdcrus\plugins\totalcmd_neticons.tweak"
I N183 "e:\coding\fdcrus\plugins\totalcmd_not_rename_network.tweak"
I N184 "e:\coding\fdcrus\plugins\totalcmd_ntfs_streams.tweak"
I N185 "e:\coding\fdcrus\plugins\totalcmd_old_style_dir.tweak"
I N186 "e:\coding\fdcrus\plugins\totalcmd_old_style_tree.tweak"
I N187 "e:\coding\fdcrus\plugins\totalcmd_only_one.tweak"
I N188 "e:\coding\fdcrus\plugins\totalcmd_overlay.tweak"
I N189 "e:\coding\fdcrus\plugins\totalcmd_overwrite_ver.tweak"
I N190 "e:\coding\fdcrus\plugins\totalcmd_pack_in_temp.tweak"
I N191 "e:\coding\fdcrus\plugins\totalcmd_pack_long.tweak"
I N192 "e:\coding\fdcrus\plugins\totalcmd_pack_test.tweak"
I N193 "e:\coding\fdcrus\plugins\totalcmd_panel.tweak"
I N194 "e:\coding\fdcrus\plugins\totalcmd_path.tweak"
I N195 "e:\coding\fdcrus\plugins\totalcmd_recycle.tweak"
I N196 "e:\coding\fdcrus\plugins\totalcmd_rename_click.tweak"
I N197 "e:\coding\fdcrus\plugins\totalcmd_rename_click_path.tweak"
I N198 "e:\coding\fdcrus\plugins\totalcmd_share.tweak"
I N199 "e:\coding\fdcrus\plugins\totalcmd_shell_connect.tweak"
I N200 "e:\coding\fdcrus\plugins\totalcmd_show_root.tweak"
I N201 "e:\coding\fdcrus\plugins\totalcmd_spacebar.tweak"
I N202 "e:\coding\fdcrus\plugins\totalcmd_space_as_instert.tweak"
I N203 "e:\coding\fdcrus\plugins\totalcmd_thumbnail_memory_limit.tweak"
I N204 "e:\coding\fdcrus\plugins\totalcmd_tray.tweak"
I N205 "e:\coding\fdcrus\plugins\totalcmd_tree_change.tweak"
I N206 "e:\coding\fdcrus\plugins\totalcmd_tree_sort.tweak"
I N207 "e:\coding\fdcrus\plugins\totalcmd_unicode_warn.tweak"
I N208 "e:\coding\fdcrus\plugins\totalcmd_usb_sticks.tweak"
I N209 "e:\coding\fdcrus\plugins\totalcmd_win_tips.tweak"
I N210 "e:\coding\fdcrus\plugins\totalcmd_wm_devicechange.tweak"
I N211 "e:\coding\fdcrus\plugins\totalcmd_xp_look.tweak"
I N212 "e:\coding\fdcrus\plugins\totalcmd_xp_permissions.tweak"
I N213 "e:\coding\fdcrus\plugins\totalcmd_zip_nt.tweak"
I N214 "e:\coding\fdcrus\plugins\totalcmd_zm.tweak"
I N215 "e:\coding\fdcrus\plugins\udma_on_intel_chipset.tweak"
I N216 "e:\coding\fdcrus\plugins\universal_pnp_service.tweak"
I N217 "e:\coding\fdcrus\plugins\win_install_path.tweak"
I N218 "e:\coding\fdcrus\plugins.txt"
I README "e:\coding\fdcrus\readme.txt"
I N219 "e:\coding\fdcrus\scripts\автооптимизация служб winnt-xp.dav"
I N220 "e:\coding\fdcrus\scripts\отключение zip-папок в winxp.dav"
I N221 "e:\coding\fdcrus\scripts\отключение панели копирования msoffice.dav"
I N222 "e:\coding\fdcrus\scripts\очистка win98.dav"
I N223 "e:\coding\fdcrus\scripts\пример файла-задачи.fdt"
I N224 "e:\coding\fdcrus\tasks.txt"
I N225 "e:\coding\fdcrus\usr\autoexec.fdp"
I N226 "e:\coding\fdcrus\usr\autoexecnt.fdp"
I N227 "e:\coding\fdcrus\usr\autorun.fdp"
I N228 "e:\coding\fdcrus\usr\config.fdp"
I N229 "e:\coding\fdcrus\usr\confignt.fdp"
I N230 "e:\coding\fdcrus\usr\exclude.fdp"
I N231 "e:\coding\fdcrus\usr\msdos.fdp"
I N232 "e:\coding\fdcrus\usr\safemasks.fdp"
OTHER FLIST E:\coding\fdcrus\FLIST.TXT
